
<input type="text" name="term" [(ngModel)]="term" />
<br>
<span>
  <input [routerLink]="['add']" type="button" class="btn btn-default" value="Add New" />
</span>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Phone</th>
      <th>City</th>
      <th>Address 1</th>
      <th>Address 2</th>
      <th>Postal Code</th>
      <th>Edit</th>
    </tr>
    <tbody>
      <tr *ngFor="let emp of (employeeData)| Filter:term:'name'">
        <td>{{emp.id}}</td>
        <td>{{emp.name}}</td>
        <td>{{isNumber(emp.phone)}}</td>
        <td>{{emp.address.city}}</td>
        <td>{{emp.address.address_line1}}</td>
        <td>{{emp.address.address_line2}}</td>
        <td>{{emp.address.postal_code}}</td>
        <td [routerLink]="['edit/', emp.id]">Edit</td>
      </tr>
    </tbody>
</table>
